<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Vault - Online File Storage System Using Cloud</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bgIMG"></div>
    <div class="home">
        <div class="header">
            <div class="logo">
                <img id="Header-Logo-Img" src="/img/logoBlue.png" alt="Logo">
                <h5 id="Header-Logo-Text">Sky Vault</h5>
            </div>
            <form action="/login" class="CTA">
                <button type="submit"  id="Header-CTA-Button">Log In</button>
            </form>
        </div>
        <form action="/login" class="Home-Content">
            <img id="Hero-Section-Img" src="/img/HeroImg.png" alt="Hero-IMG">
            <div class="hero-section">
                <h1>Welcome to Sky Vault</h1>
                <h3>Your Reliable & Secure Cloud Storage Solution. Access Files Anywhere, Anytime.</h3>
                <button type="submit" class="cta-button">Log In</button>
            </div>
        </form>
    </div>
</body>
</html>